<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Premium Diabetes Management</title>
  <link rel="stylesheet" href="static/premium.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <header class="header">
  <div class="logo"><i class="fa-solid fa-heartbeat"></i> CareConnect</div>
  <nav>
    <ul>
      <li><a href="http://127.0.0.1:5000"><i class="fa-solid fa-house"></i> Home</a></li>
      <li><a href="http://127.0.0.1:5000/dashboard"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
      <li><a href="http://127.0.0.1:5000/healthplan"><i class="fa-solid fa-bowl-food"></i> Health Plan</a></li>
      <li><a href="http://127.0.0.1:5000/progress"><i class="fa-solid fa-chart-pie"></i> Progress</a></li>
      <li><a href="http://127.0.0.1:5000/alerts"><i class="fa-solid fa-bell"></i> Alerts</a></li>
      <li><a href="http://127.0.0.1:5000/doctorconnect"><i class="fa-solid fa-user-doctor"></i> Doctor Connect</a></li>
      <li><a href="http://127.0.0.1:5000/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
    </ul>
  </nav>
</header>

</head>
<body>

      <!-- STEP 4: RISK BAR -->
    <div id="risk-section" style="margin-top: 20px; display: none;">
        <h3>Risk Level: <span id="risk-text"></span></h3>
        <div class="progress" style="height: 25px;">
            <div id="risk-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="container">
  <section class="card">
    <h2><i class="fa-solid fa-chart-line"></i> Progress Dashboard</h2>
    <canvas id="sugarChart"></canvas>
  </section>
</div>
<footer>
    <p>&copy; 2025 CareConnect | Stay Healthy, Stay Safe </p>
  </footer>

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="premium.js">
  function goHome() {
  window.location.href = "http://127.0.0.1:5000";
}
function logout() {
  window.location.href = "http://127.0.0.1:5000/logout";
}
function godashboard() {
  window.location.href = "http://127.0.0.1:5000/dashboard";
}

function gohealthplan() {
  window.location.href = "http://127.0.0.1:5000/healthplan";
}
function goprogress() {
  window.location.href = "http://127.0.0.1:5000/progress";
}
function godoctorconnect() {
  window.location.href = "http://127.0.0.1:5000/doctorconnect";
}
  </script>
</body>
</html>